.color{
     background-color: #9fa7d6;

   }

.text-center{
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #fff;
}

.container {
    width: 96%;
    padding: 0 2%;
    margin: 0 auto;
}

.info {
    padding: 50px 0px;
    background-color: #3D488A;
    color: #fff;
}

.info .title {
    font-weight: 700;
    font-size: 4.5rem;
}

.info .description {
    line-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.info .motto {
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}



.autorzy{
    background-color: #ccd3f8;
    }



.kontakt {
    padding: 50px 0px;
    background-color: #5e70d6;
    color: white;
}

.kontakt .title_k {
    font-weight: 300;
    font-size: 2.5rem;
}

.kontakt .description_k {
    font-weight: lighter;
    font-style: italic;
    padding: 5px;
}

.mapa {
    position: relative;
    padding-bottom: 300px;
    height: 0; overflow: hidden; 
} 

.mapa iframe { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100% !important; 
    height: 100% !important; 
}

.stopka {
    padding: 25px 0px;
    background-color: black;
    color: white;
}

